<ul class="nav nav-tabs">
  <a routerLink="" class="navbar-brand">
    <img src="../../assets/Olivia co.png" class="img-fluid" width="40px" />
  </a>
  <li class="nav-item ms-auto intro">
    <a
      class="nav-link"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Introduction</a
    >
  </li>
  <li class="nav-item projects">
    <a
      class="nav-link"
      routerLink="projects"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Projects</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>
