<div class="w-75 pt-5 ms-auto me-auto">
  <h5 class="intro pt-5">Hello, my name is</h5>
  <h1 class="name">Osman Abrar Khan</h1>
  <h3 class="skill fw-light">HTML . CSS . TypeScript . Angular</h3>
  <p class="text-white mt-5 fw-bold desc">
    Front-End Developer that completes tasks given to him.
  </p>

  <button
    class="btn btn-primary rounded-pill fw-bold mt-5 ps-5 pe-5 pt-2 pb-2 fs-4 float-end skill-btn"
    (click)="onProjectsClicked()"
  >
    Projects <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
